<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="media.css">
</head>
<body>
    <div class="navbr">
        <div class="logo">
           <h1>Logo</h1>
        </div>   
    </div>
    <div class="hompage">
        <h1>Home Page</h1>
        <div class="img">
            <img src="image/Home.jpeg" alt="">
        </div>
    </div>
    <div class="gallery">
       <div class="gallerycontaier">
        <img src="image/beetle-8958489_960_720.webp" alt="">
        <img src="image/forest-8592902_960_720.jpg" alt="">
        <img src="image/forest-8684668_960_720.jpg" alt="">
       </div>
    </div>
    <div class="footr">

    </div>
</body>
</html>